.container {
  padding-inline: 20px;
}

@media (width >= 576px) {
  .container {
    padding-inline: 72px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.header {
  background-image: url("header-bg.8ec50a9a.png");
  background-position: center;
  background-size: cover;
}

.header__content {
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  display: flex;
}

.header__bottom {
  padding-bottom: 40px;
}

@media (width >= 576px) {
  .header__bottom {
    padding-bottom: 65px;
  }
}

.header__title {
  color: #292929;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
}

@media (width >= 576px) {
  .header__title {
    font-size: 56px;
  }
}

.icon {
  background-image: url("menu-icon.9e385d44.svg");
  background-size: cover;
  width: 24px;
  height: 24px;
  transition: transform .3s;
  display: block;
}

.icon:hover {
  transform: scale(1.2);
}

@media (width >= 576px) {
  .icon {
    width: 32px;
    height: 32px;
  }
}

.icon--phone {
  background-image: url("phone-icon.9ab2fad4.svg");
}

.icon--phone:before {
  content: "+1 234 555-55-55";
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #292929;
  opacity: 0;
  width: max-content;
  padding-right: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  transition: opacity .3s;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
}

.icon--phone:hover:before {
  opacity: 1;
}

.icon--menu {
  background-image: url("menu-icon.9e385d44.svg");
}

.icon--menu:hover {
  background-image: url("menu-icon-hover.619153c0.svg");
}

.icon--close {
  background-image: url("close-icon.856fba63.svg");
}

.tel {
  display: none;
}

.menu {
  box-sizing: border-box;
  background-color: #e5e6e8;
  height: 100vh;
  font-weight: 700;
  overflow: auto;
}

.menu__top {
  z-index: 1;
  margin-bottom: 32px;
  top: 0;
}

.menu__nav {
  margin-bottom: 48px;
}

.menu__phone-number {
  letter-spacing: 2px;
  color: inherit;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  display: block;
}

.menu__call-to-order {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: inherit;
  border-bottom: 1px solid #292929;
  padding-bottom: 4px;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
}

.nav__list {
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__link {
  letter-spacing: 2px;
  color: inherit;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  position: relative;
}

.nav__link:after {
  content: "";
  transform-origin: 0;
  background-color: #292929;
  width: 100%;
  height: 1px;
  transition: transform .3s;
  display: block;
  position: absolute;
  bottom: -8px;
  transform: scale(0);
}

.nav__link:hover:after {
  transform: scale(1);
}

.page {
  scroll-behavior: smooth;
  font-family: Space Grotesk, sans-serif;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.page__body {
  min-width: 320px;
  margin: 0;
}

.page__menu {
  opacity: 0;
  pointer-events: none;
  transition: transform .7s, opacity .7s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
  display: flex;
}

@media (width >= 576px) {
  .top-bar {
    padding-block: 32px;
  }
}

.top-bar__icons {
  align-items: center;
  gap: 24px;
  display: flex;
}

.top-bar__logo-link {
  display: flex;
}

.top-bar__logo {
  height: 16px;
  transition: transform .3s;
}

.top-bar__logo:hover {
  transform: scale(1.1);
}

@media (width >= 576px) {
  .top-bar__logo {
    height: 24px;
  }
}

.section-title {
  font-size: 32px;
  font-weight: 700px;
  text-align: left;
  letter-spacing: -1.5px;
  margin: 0 0 48px;
  line-height: 100%;
}

@media (width >= 576px) {
  .section-title {
    margin-bottom: 56px;
    font-size: 40px;
  }
}

@media (width >= 1024px) {
  .section-title {
    font-size: 48px;
  }
}

.main {
  background-color: #fff;
}

.main__content {
  row-gap: 96px;
  padding-block: 96px;
}

@media (width >= 576px) {
  .main__content {
    row-gap: 120px;
    padding-block: 120px;
  }
}

.recomended__products {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 40px 20px;
  display: grid;
}

@media (width >= 576px) {
  .recomended__products {
    --columns: 6;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .recomended__products {
    --columns: 12;
  }
}

.recomended__product {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .recomended__product {
    grid-column: 1 / -1;
  }
}

@media (width >= 1024px) {
  .recomended__product {
    grid-column: span 4;
  }
}

.product__link {
  display: block;
  overflow: hidden;
}

.product__photo {
  width: 100%;
  transition: transform .3s;
}

.product__photo:hover {
  transform: scale(1.2);
}

.product__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.product__description {
  font-family: Space Mono, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.product__price {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.about__container {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .about__container {
    --columns: 6;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .about__container {
    --columns: 12;
  }
}

.about__title {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .about__title {
    grid-column: 1 / 4;
  }
}

@media (width >= 1024px) {
  .about__title {
    grid-column: span 6;
  }
}

.about__content {
  grid-column: 1 / -1;
  font-family: Space Mono, sans-serif;
}

@media (width >= 576px) {
  .about__content {
    grid-column: 4 / 7;
  }
}

@media (width >= 1024px) {
  .about__content {
    grid-column: span 6;
  }
}

.about__text {
  font-size: 16px;
  line-height: 22.4px;
}

.about__bg {
  width: 100%;
  margin: 120px 0 56px;
  padding-inline: 0;
}

.categories {
  margin-top: 96px;
}

@media (width >= 576px) {
  .categories {
    margin-top: 120px;
  }
}

@media (width >= 1024px) {
  .categories {
    margin-top: 128px;
  }
}

.categories__wrapper {
  row-gap: 40px;
  display: grid;
}

@media (width >= 576px) {
  .categories__wrapper {
    row-gap: 56px;
  }
}

.category__photos {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  margin-bottom: 16px;
  display: grid;
}

@media (width >= 576px) {
  .category__photos {
    --columns: 6;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .category__photos {
    --columns: 12;
  }
}

.category__link {
  position: relative;
  overflow: hidden;
}

@media (width >= 576px) {
  .category__link--wide {
    grid-column: span 4;
  }
}

@media (width >= 1024px) {
  .category__link--wide {
    grid-column: span 8;
  }
}

.category__link--square {
  height: 0;
  padding-bottom: 100%;
}

@media (width >= 576px) {
  .category__link--square {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .category__link--square {
    grid-column: span 4;
  }
}

.category__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform .3s;
  position: absolute;
}

.category__photo:hover {
  transform: scale(1.2);
}

.category__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}

.category__button {
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #292929;
  border: 2px solid #292929;
  border-radius: 8px;
  font-size: 16px;
  line-height: 56px;
  text-decoration: none;
  transition: border .3s, background-color .3s, color .3s;
  display: block;
}

.category__button:hover {
  color: #292929;
  background-color: #f8f8fa;
  border: 2px solid #f0f1f4;
}

.category__button:active {
  color: #fff;
  background: #111;
}

@media (width >= 1024px) {
  .category__button {
    width: 324px;
  }
}

.contact {
  margin-top: 104px;
}

@media (width >= 576px) {
  .contact {
    margin-top: 120px;
  }
}

.contact-container {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 48px 20px;
  display: grid;
}

@media (width >= 576px) {
  .contact-container {
    --columns: 6;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .contact-container {
    --columns: 12;
  }
}

.contact-container__form {
  grid-column: span 2;
}

@media (width >= 576px) {
  .contact-container__form {
    grid-column: span 6;
  }
}

@media (width >= 1024px) {
  .contact-container__form {
    grid-column: 1 / 6;
  }
}

.contact-container__company-datas {
  flex-direction: column;
  grid-column: span 2;
  gap: 24px;
  display: flex;
}

@media (width >= 576px) {
  .contact-container__company-datas {
    grid-column: span 6;
  }
}

@media (width >= 1024px) {
  .contact-container__company-datas {
    grid-column: 7 / 13;
  }
}

.contact__form {
  flex-direction: column;
  gap: 16px;
  display: flex;
}

.contact__form-field {
  display: block;
}

.contact__form-field__element {
  box-sizing: border-box;
  background: #f8f8fa;
  border: 1px solid #f8f8fa;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  font-family: Space Mono, sans-serif;
  font-size: 14px;
  transition: border-color .3s;
}

.contact__form-field__element::placeholder {
  color: #7e7e83;
  font-size: 14px;
}

.contact__form-field__element:hover {
  border: 1px solid #d5d7de;
}

.contact__form-field__element:hover::placeholder {
  color: #292929;
}

.contact__form-field__textarea {
  resize: none;
  height: 148px;
  padding: 14px 16px;
}

.contact__button {
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #292929;
  border: 2px solid #292929;
  border-radius: 8px;
  font-size: 16px;
  line-height: 56px;
  text-decoration: none;
  transition: border .3s, background-color .3s, color .3s;
  display: block;
}

.contact__button:hover {
  color: #292929;
  background-color: #f8f8fa;
  border: 2px solid #f0f1f4;
}

.contact__button:active {
  color: #fff;
  background: #111;
}

.contact__company-data p {
  color: #9393a3;
  margin: 0;
  font-family: Space Grotesk, sans-serif;
  font-size: 14px;
  line-height: 140%;
}

.contact__company-data a {
  color: #191919;
  margin: 0;
  font-family: Space Mono, sans-serif;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  transition: color .3s;
}

.contact__company-data a:hover {
  color: #e5e6e8;
}

.contact__company-data {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

/*# sourceMappingURL=index.38ec9247.css.map */
